@import "tailwindcss";

@theme {
  --spacing: 0.25rem;

  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-primary-light: #3b82f6;
  --color-danger: #dc2626;
  --color-danger-light: #ef4444;
  --color-success: #10b981;
  --color-success-dark: #059669;
  --color-warning: #f59e0b;
  --color-warning-dark: #b45309;
}
